// Project: FourAxis SCARA — top.v v5 (FPGA→S3 router)
// Part: GW5AT-LV60PG484AC1/I0

IO_LOC "clk_50m" F13;
IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_n" D1;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "i2c_scl" D20;
IO_PORT "i2c_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i2c_sda" C22;
IO_PORT "i2c_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// 底盘 S3 UART — J14 Pin27/28 (接 S3 GPIO20/21)
IO_LOC "router_txd" P19;
IO_PORT "router_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "router_rxd" A15;
IO_PORT "router_rxd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// DBG UART — J14 Pin19 (TX only, 接 PC 串口)
IO_LOC "dbg_txd" T18;
IO_PORT "dbg_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "beep" A13;
IO_PORT "beep" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
